.ActionButtons {
  position: relative;
  padding-top: 20px;
  margin: 0 auto;
  justify-content: space-between;

  .button {
    background-color: transparent;
    color: #FAFAFA;
    border: 2px solid #FAFAFA;
    border-radius: 8px;
    padding: 16px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    font-weight: 600;

    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #FAFAFA;
      color: #1C1C1C;
    }
  }
}
