@font-face {
  font-family: "Voltera";
  src: url("../Fonts/Voltera-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Lato";
  src: url("../Fonts/Lato-Bold.ttf");
}

#root {
  height: 100dvh;
  width: 100dvw;
  background-color: #2B2B2B;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 240px;
  margin-top: 50px;
  height: 100dvh;
  flex-grow: 1;
  font-family: "Lato", sans-serif;
  padding: 1rem;
  color: #FAFAFA;
  border-top-left-radius: 1rem;
  background-color: #1C1C1C !important;
  background-image: url(~@volterainc/app-resources/images/grid.png);
  background-size: auto;

  border-top: 4px solid #FAFAFA;
  border-left: 2px solid #FAFAFA;

  overflow-x: hidden;
  overflow-y: auto;

  .topNav {
    background-color: #313131;
    flex-direction: row;
    align-items: stretch;
    color: white;
  }

  .header {
    display: flex;
    width: 100%;
    align-items: flex-start;

    h1 {
      font-weight: 100;
      margin: 0;
      font-family: "Voltera", sans-serif;
      padding: 8px 16px;

      &::before {
        content: "| ";
        font-size: 48px;
        color: #00C2F5;
      }
    }
  }
}

.jumbo-button {
  border: 2px solid #FAFAFA !important;
  transition: all 0.2s ease-in-out;
}

.hero-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
